		/*	mediaboxAdvanced Smooth theme	*/
		/*	version 2.5 - May 2011			*/
		/*	for mediaboxAdvanced v.1.5.x	*/

		/*	Overlay background styling	*/

#mbOverlay {
	position: fixed;
	z-index: 9998;
	top: 0;
/*	bottom: 0;	*/
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

		/*	Legacy fix for older browsers	*/

#mbOverlay.mbOverlayOpaque {
	background: transparent url(/images/80.png) repeat;
}

#mbOverlay.mbOverlayAbsolute {
	position: absolute;
}

		/*	Overlay panel styling	*/

#mbCenter {
	position: absolute;
	z-index: 9999;
	left: 50%;
	overflow: hidden;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #bbb;	/* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa');
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#aaa));
	background: -moz-linear-gradient(top,  #ddd,  #aaa);
	background: -o-linear-gradient(top,  #ddd,  #aaa);
	background: linear-gradient(top,  #ddd,  #aaa);
	border: 1px solid #fff;
	border-top-color: #fff;
	border-bottom-color: #ccc;
	border-right-width: 0px;
	border-left-width: 0px;
	-webkit-box-shadow: 0px 4px 24px rgba(0,0,0,0.4);
	-khtml-box-shadow: 0px 4px 24px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 4px 24px rgba(0,0,0,0.4);
	box-shadow: 0px 4px 24px rgba(0,0,0,0.4);
	padding: 10px;
	text-shadow: rgba(255,255,255,0.5) 0 1px 1px;
}

#mbCenter.mbLoading {
/*	background: #000 url(/images/mediabox/MinimalLoading.gif) no-repeat center;
/*	This style is applied only during animation.	*/
/*	For example, the next lines turn off shadows	*/
/*	improving browser performance on slow systems.	*/
/*	To leave shadows on, just remove the following:	*/
	-webkit-box-shadow: none;
	-khtml-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#mbImage {
	position: relative;
	left: 0;
	top: 0;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

		/*	Inline content styling	*/

	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	text-align: left;
	background-position: center center;
	background-repeat: no-repeat;
}

		/*	Title, Caption and Button styling	*/

#mbBottom {
	min-height: 20px;
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #444;
	text-align: left;
	padding: 10px 0 0;
}

#mbTitle, #mbPrevLink, #mbNextLink, #mbCloseLink {
	display: inline;
	color: #000;
	font-weight: bold;
	line-height: 20px;
	font-size: 12px;
}

#mbNumber {
	display: inline;
	color: #444;
	line-height: 14px;
	font-size: 10px;
	margin: auto 10px;
}

#mbCaption {
	display: block;
	color: #444;
	line-height: 14px;
	font-size: 10px;
}

#mbPrevLink, #mbNextLink, #mbCloseLink {
	float: right;
	outline: none;
	font-weight: normal;
	margin: 0 0 0 10px;
	padding: 4px 2px;
}

#mbPrevLink b, #mbNextLink b, #mbCloseLink b {
	color: #222;
	font-weight: bold;
	text-decoration: underline;
}

#mbPrevLink big, #mbNextLink big, #mbCloseLink big {
	color: #222;
	font-size: 20px;
	line-height: 10px;
	font-weight: bold;
}

#mbBottom a, #mbBottom a:link, #mbBottom a:visited {
	text-decoration: none;
	color: #222;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#mbBottom a:hover, #mbBottom a:active {
	color: #000;
	background-color: rgba(0,0,0,0.1);
	text-shadow: rgba(255,255,255,1.0) 0 1px 1px;
}


		/*	Error message styling	*/

#mbError {
	position: relative;
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	text-align: center;
	border: 10px solid #700;
	padding: 10px 10px 10px;
	margin: 20px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#mbError a, #mbError a:link, #mbError a:visited, #mbError a:hover, #mbError a:active {
	color: #d00;
	font-weight: bold;
	text-decoration: underline;
}